


<div class="modalContainer  hideModal">
    <div class="modal" >
      <div class="modal_movie" >
        <div class="modal_movie_img" >
          <img src="" id="film_image" />
        </div>
        <div class="modal_movie_details" > 
          <p class="modal_movie_title" ></p>
          <div class="modal_movie_info" >
            <div class="modal_date_quality">
              <p class="modal_quality">HD</p>
              <p class="modal_date"></p>
            </div>
            <p class="modal_movie_info_mid" >•</p>
            <div class="modal_rate">
              <i class="fa-solid fa-star"></i>
              <p id="film_rate">9.2</p>
            </div>
            <p class="modal_movie_info_mid" >•</p>
            <div class="modal_time">
              <i class="fa-regular fa-clock"></i>
              <p>120min</p>
            </div>
            <p class="modal_movie_info_mid" >•</p>
            <p class="modal_movie_cat" >cat 1, cat 2</p>
          </div>
          <div class="modal_movie_desc" >
              
          </div>
          <div class="modal_movie_detail_more">
              <a href="#" id="see-more_link">see More</a>
          </div>
        </div>
      </div>
      <!--<div class="modal_avis_container" id="modal_avis_container" >
        <div class="modal_avis_container_1" id="modal_avis_container_1">
        <!--<div class="modal_avis"  id="modal_avis" >
          <div class="modal_avis_user" >
            <p>user 1</p>
            <i class="fa-solid fa-star modal_active_star"></i><i class="fa-solid fa-star modal_active_star"></i><i class="fa-solid fa-star modal_active_star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i>
          </div>
          <p class="modal_avis_text" >user 1 comment user 1 comment user 1 comment user 1 comment user 1 comment user 1 comment</p>
        </div>
        </div>

        <form  class="form_comm" id="form_comm"   method="POST">
          {% csrf_token %}
          <span id="error_comm" style="color: red;"></span>
          <p class="modal_addAvis_title" >Add your review</p>
          <div style="display: flex; gap: 16px;" >
            <input type="text"  id="user_name" name="username" placeholder="Full Name" class="modal_input" />
            <input type="number" id="Nb_star" placeholder="Number of stars" class="modal_input"  />
          </div>
          <textarea placeholder="What are your thoughts ?" class="modal_input" id="commentaire" ></textarea>
          <div style="display: flex; justify-content: flex-end;" >
            <button class="modal_addAvis_btn" type="submit" >
              Submit
            </button>
          </div>
        </form>
      </div>-->
    </div>
  </div>
  
