<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Movies Website</title>
    <link rel="stylesheet" href="clusters.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  </head>
  <body>

    <section>
      <nav>
        <div class="logo">
          <h1>Movies<span>Hub</span></h1>
        </div>
        <div class="right">
          <ul>
            <li><a href="./index.html">Home</a></li>
          </ul>
        </div>
      </nav>
    </section>

    <div class="second scrollable-content ">
      <h1 class="cluster-title" >Cluster 1</h1>
      <div class="movies_container" >
        <div class="movie" >
          <div class="movie_details" >
            <p class="title" >test</p>
            <div style="display: flex; align-items: center;" >
              <p class="quality" >HD</p>
              <p class="year" >2017</p>
            </div>
            <p class="category">Thriller</p>
            <div class="info">
              <div class="rate">
                <i class="fa-solid fa-star"></i>
                <p>8.2</p>
              </div>
              <div class="time">
                <i class="fa-regular fa-clock"></i>
                <p>120min</p>
              </div>
            </div>
          </div>
          <img class="movie_img" src="image/money_heist.jpg">
        </div>
        <div class="movie" >
        </div>
        <div class="movie" >
        </div>
        <div class="movie" >
        </div>
        <div class="movie" >
        </div>
        <div class="movie" >
        </div>
        <div class="movie" >
        </div>
      </div>

      <h1 class="cluster-title" >Cluster 2</h1>
      <div class="movies_container" >
        <div class="movie" >
          <div class="movie_details" >
            <p class="title" >test</p>
            <div style="display: flex; align-items: center;" >
              <p class="quality" >HD</p>
              <p class="year" >2017</p>
            </div>
            <p class="category">Thriller</p>
            <div class="info">
              <div class="rate">
                <i class="fa-solid fa-star"></i>
                <p>8.2</p>
              </div>
              <div class="time">
                <i class="fa-regular fa-clock"></i>
                <p>120min</p>
              </div>
            </div>
          </div>
          <img class="movie_img" src="image/money_heist.jpg">
        </div>
        <div class="movie" >
        </div>
        <div class="movie" >
        </div>
        <div class="movie" >
        </div>
        <div class="movie" >
        </div>
        <div class="movie" >
        </div>
        <div class="movie" >
        </div>
      </div>
    </div>

    <!-- --------  modal  --------- 
    <div class="modalContainer showModal" >
      <div class="modal" >
        <div class="modal_movie" >
          <div class="modal_movie_img" >
            <img src="image/gajaman.jpg" />
          </div>
          <div class="modal_movie_details" > 
            <p class="modal_movie_title" >Title Test</p>
            <div class="modal_movie_info" >
              <div class="modal_date_quality">
                <p class="modal_quality">HD</p>
                <p class="modal_date">2023</p>
              </div>
              <p class="modal_movie_info_mid" >•</p>
              <div class="modal_rate">
                <i class="fa-solid fa-star"></i>
                <p>9.2</p>
              </div>
              <p class="modal_movie_info_mid" >•</p>
              <div class="modal_time">
                <i class="fa-regular fa-clock"></i>
                <p>120min</p>
              </div>
              <p class="modal_movie_info_mid" >•</p>
              <p class="modal_movie_cat" >cat 1, cat 2</p>
            </div>
            <div class="modal_movie_desc" >
              desc
            </div>
          </div>
        </div>
        <div class="modal_avis_container" >
          <div class="modal_avis" >
            <div class="modal_avis_user" >
              <p>user 1</p>
              <i class="fa-solid fa-star modal_active_star"></i><i class="fa-solid fa-star modal_active_star"></i><i class="fa-solid fa-star modal_active_star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i>
            </div>
            <p class="modal_avis_text" >user 1 comment user 1 comment user 1 comment user 1 comment user 1 comment user 1 comment</p>
          </div>

          <div>
            <p class="modal_addAvis_title" >Add your review</p>
            <div style="display: flex; gap: 16px;" >
              <input type="text" placeholder="Full Name" class="modal_input" />
              <input type="number" placeholder="Number of stars" class="modal_input"  />
            </div>
            <textarea placeholder="What are your thoughts ?" class="modal_input"  ></textarea>
            <div style="display: flex; justify-content: flex-end;" >
              <button class="modal_addAvis_btn" >
                Submit
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- --------  --------- -->

    <p class="end">Design By<span><i class="fa-solid fa-face-grin"></i>ImadWX</span></p>
    
  </body>
</html>