/* --------  modal css --------- */

.showModal_User{
  display: flex;
}
.hideModal_User{
  display: none;
}
.modalContainer_User{
  position: absolute;
  background-color: rgba(0,0,0,0.5);
  height: 100vh;
  width: 100%;
  top: 0;
  left: 0;
  align-items: center;
  justify-content: center;
  z-index: 20;
}
.modal_User{
  background-color: #171717;
  width: 85%;
  /* height: 85%; */
  max-height: 85%;
  height: max-content;
  border-radius: 12px;
  border: 1px solid rgba(255,255,255,0.5);
  padding: 24px 16px;
  color: #fff;
}

.modal_userName{
  font-size: 34px;
  font-weight: 600;
}
.modal_userEmail{
  margin-top: 8px;
  font-size: 16px;
  color: rgba(255,255,255,0.5);
}
.modal_logOutContainer{
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.modal_logOut{
  color: #AC001F;
  cursor: pointer;
  border: 1px solid #AC001F;
  padding: 8px 16px;
  border-radius: 10px;
}
.modal_logOut:hover{
  color: #fff;
  background-color: #AC001F;
}

.userRec{
  width: 100%;
  height: auto;
  margin: 0 auto;
  margin-top: 32px;
}

.userRec h1{
  font-size: 20px;
  color: #fff;
  margin-bottom: 20px;
}

.userRec .box{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.userRec .box .card{
  width: 200px;
  height: 300px;
  /* margin: 10px; */
  overflow: hidden;
  border-radius: 8px;
}

.userRec .box .card .details{
  width: 200px;
  height: 300px;
  overflow: hidden;
  position: absolute;
  border-radius: 8px;
  transition: 0.3s;
  opacity: 0;
}

.userRec .box .card:hover .details{
  opacity: 1;
  background: linear-gradient(to bottom, rgba(0,0,0,0.0), rgba(0,0,0,0.7));
}

.userRec .box .card .details .left{
  position: absolute;
  bottom: 0;
  color: #fff;
  transform: translateX(-100px);
  transition: 0.4s;
  opacity: 0;
}

.userRec .box .card:hover .details .left{
  opacity: 1;
  transform: translateX(0);
}

.userRec .box .card .details .left p.name{
  width: 100%;
  font-size: 20px;
  font-weight: bold;
  margin-left: 10px;
  margin-bottom: 10px;
}

.userRec .box .card .details .left .date_quality{
  display: flex;
  align-items: center;
}

.userRec .box .card .details .left .date_quality p.quality{
  width: 30px;
  font-size: 13px;
  background: #ffe100;
  color: #282931;
  margin-left: 10px;
  margin-bottom: 8px;
  text-align: center;
  font-weight: bold;
}

.userRec .box .card .details .left .date_quality p.date{
  color: #fff;
  font-size: 15px;
  font-weight: bold;
  text-align: left;
  margin-left: 10px;
  margin-bottom: 8px;
}

.userRec .box .card .details .left p.category{
  margin-left: 10px;
  font-size: 13px;
  margin-bottom: 8px;
}

.userRec .box .card .details .left .info{
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.userRec .box .card .details .left .info .rate{
  display: flex;
  align-items: center;
  margin-left: 10px;
  margin-right: 10px;
}

.userRec .box .card .details .left .info .rate i{
  font-size: 12px;
  color: #ffd500;
  margin-right: 5px;
}

.userRec .box .card .details .left .info .rate p{
  font-size: 12px;
}

.userRec .box .card .details .left .info .time{
  display: flex;
  align-items: center;
}

.userRec .box .card .details .left .info .time i{
  font-size: 12px;
  color: #ffd500;
  margin-left: 5px;
}

.userRec .box .card .details .left .info .time p{
  font-size: 12px;
  margin-left: 5px;
}

.userRec .box .card .details .right{
  position: absolute;
  right: 0;
  bottom: 0;
  color: #fff;
  transform: translateX(100px);
  transition: 0.4s;
  opacity: 0;
}

.userRec .box .card:hover .details .right{
  opacity: 1;
  transform: translateX(0);
}

.userRec .box .card .details .right i{
  width: 40px;
  height: 40px;
  line-height: 40px;
  font-size: 20px;
  text-align: center;
  background-color: #ffe100;
  border-radius: 50%;
  cursor: pointer;
  color: #282931;
  margin: 0 10px 8px 0;
}

.userRec .box .card img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}